################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlgoAllInOne/obj/Debug
/AlgoAllInOne/bin/Debug
/.vs/AlgoAllInOne/v15/sqlite3
